<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Student Management</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:replace="fragments/header :: header"/>

<div class="container">
    <div class="card">
        <div class="card-block">
            <div class="alert alert-success">
                Registration success!! Please sign in to Continue
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"/>
</body>
</html>